<div class="train train-list-item">
    <div class="train-cover">
        <a href="{% url "trainer:trainingsheet" train.id%}">
            <img src="{{ train.cover.url }}" alt="Temporário">
        </a>
    </div>
    <div class="train-title-container">
        <h2 class="train-title">
            <a href="{% url "trainer:trainingsheet" train.id %}">
                {{ train.title }}
            </a>
        </h2>
    </div>

    <div class="train-author">
        <span class="train-author-item">
            <i class="fas fa-user"></i>
            {% if train.author is not None %}
                {% if train.author.first_name %}
                    {{ train.author.first_name }} {{train.author.last_name}}
                {% else %}
                    {{train.author.username}}
                {% endif %}
            {% else %}
                Desconhecido
            {% endif %}
        </span>
        <span class="train-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{train.created_at|date:"d/m/Y"}} às {{train.created_at|date:"H:i"}}
        </span>
        <span class="train-author-item">
            <i class="fas fa-layer-group"></i>
            <span>{{train.type}}</span>
        </span>
    </div>

    <div class="train-content">
        <p>{{train.description}}</p>
    </div>

    <div class="train-meta-container">
        <div class="train-meta train-preparation">
            <h3 class="train-meta-title"> <i class="fas fa-stopwatch"></i>Dias de Treino</h3>
            <div class="train-meta-text">
                {{train.days}} Dias
            </div>
        </div>
        <div class="train-meta train-servings">
            <h3 class="train-meta-title"><i class="fa-solid fa-clipboard"></i>Nível de Treino</h3>
            <div class="train-meta-text">
                {{train.nivel_type}}
            </div>
        </div>
    </div>


    {% if is_detail_page is not True %}
        <footer class="train-footer">
            <a class="train-read-more button button-dark button-full-width" href="{% url "trainer:trainingsheet" train.id %}">
                <i class="fas fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </footer>
    {% endif %}
    

    {% if is_detail_page is True %}
        <div class="main-train">
        
                <!-- Percorre a list comprehension que foi criada na view -->
                {% for body_part in body_parts %}

                        {% if body_part not in list_body %}
    
                            <!-- Exibe o nome do membro -->
                            <h2>{{ body_part.name }}</h2>

                            <!-- Exibe os exercícios associados a este membro -->
                            <ul>
                                {% for exercise in exercises %}
                                    {% if body_part in exercise.body_part.all %}
                                        <li>{{ exercise }} {{ exercise.series }}x{{ exercise.repetitions }} carga {{ exercise.charge }}kg {{ exercise.rest_time }}min</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                        {% endif %}

                {% endfor %}

        </div>

    {% endif %}

</div>